---
// IMPORTS ASTRO COMPONENTS
import FooterTitle from "../title/index.astro"
import Li from "../li/index.astro"
---
<section class="space-y-10">
    <FooterTitle>Marketing</FooterTitle>
    <ul class="space-y-6">
        <Li href="/digital-marketing-agency/digital-marketing-services" aria_label="">Services</Li>
        <Li href="/digital-marketing-agency/digital-marketing-awards" aria_label="">Awards</Li>
        <Li href="/case-studies" aria_label="">Our Work</Li>
        <Li href="/digital-marketing-agency/digital-marketing-blog" aria_label="">Insights</Li>
    </ul>
</section>
