---

// IMPORTS ASTRO COMPONENTS
import FooterTitle from "@/components/common/footer/title/index.astro"
import ListItem from "@/atoms/footer/list-item/index.astro"

---
<section class="space-y-10">
    <FooterTitle>Marketing</FooterTitle>
    <ul class="space-y-6">
        <ListItem href="/digital-marketing-agency/digital-marketing-services" aria_label="Explore Services">Services</ListItem>
        <ListItem href="/digital-marketing-agency/digital-marketing-awards" aria_label="Explore Awards">Awards</ListItem>
        <ListItem href="/case-studies" aria_label="Explore Our Work">Our Work</ListItem>
        <ListItem href="/digital-marketing-agency/digital-marketing-blog" aria_label="Explore Insights">Insights</ListItem>
    </ul>
</section>
