---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwoOrangeUppercase from "@/atoms/heading/two/orange/uppercase/index.astro"
import Link from "@/atoms/links/index.astro"
import PrimaryButton from "@/atoms/buttons/primary/index.astro"

// IMPORTS JSX COMPONENTS
import Advantage from "@/components/home/advantage/index.astro"

// IMPORTS MARKED
import { marked } from "marked"

// GET ASTRO PROPS
const {

    bake_yourself_profit,
    data,
    rediscover_the_sweet_feeling,
    unchain_yourself

} = Astro.props

const html = marked.parse( data.description )
const sub_title = marked.parse( data.sub_title )

---
<Container>
    <section class="py-16 md:py-28 space-y-4">
        <HeadingTwoOrangeUppercase>{ data.title }</HeadingTwoOrangeUppercase>
        <section set:html={ sub_title } class="markdown h3 orangeh3" />
        <section class="grid md:grid-cols-3 gap-8 md:pt-10">
            <Advantage
                data={ unchain_yourself }
            />
            <Advantage
                data={ bake_yourself_profit }
            />
            <Advantage
                data={ rediscover_the_sweet_feeling }
            />
        </section>
        <section set:html={ html } class="markdown text-xl md:text-2xl pt-10" />
        <Link href={ data.button_link } aria_label={ data.button_title }>
            <PrimaryButton>{ data.button_title }</PrimaryButton>
        </LINK>
    </section>
</Container>
