---

// IMPORTS ASTRO ATOMS
import PictureInternalContain from "@/atoms/picture/internal/contain/index.astro"


---
<button class="flex md:gap-2 items-center justify-center h-[72px] px-6 bg-body hover:bg-lo_orange transition-all duration-200 ease-in text-white text-sm md:text-lg font-lato md:font-semibold rounded">
    <slot/>
    <div class="size-6">
        <PictureInternalContain
            alternative_text="right arrow"
            source="/icons/right-arrow.svg"
        />
    </div>
</button>
