/* CAROUSEL */
.control-dots{
    bottom: 10px !important;
}
.carousel .control-dots .dot{
    background-color: #111111 !important;
    opacity: 1 !important;
    border: #FFFFFF !important;
    box-shadow: none !important;
    width: 14px !important;
    height: 14px !important;
}
.carousel .control-dots .dot:hover{
    opacity: 0.8 !important;
}
.carousel .control-dots .dot.selected{
    background-color: #FFFFFF !important;
    width: 16px !important;
    height: 16px !important;

}
.carousel.carousel-slider{
    overflow: inherit !important;
}

/* MARKDOWN TEXT */
.markdown.largetext p {

    @apply md:text-2xl font-lato py-3 md:py-4 !important;

}
.markdown.textlg p {

    @apply text-lg font-lato py-3 md:py-4 !important;

}
.markdown.text3xl.textwhite p {

    @apply text-white md:text-center text-3xl font-bold leading-tight md:leading-tight font-lato py-3 md:py-4 !important;

}
.markdown p {

    @apply text-base font-lato py-2 md:py-4 !important;

}
.markdown a {

    @apply text-lo_blue hover:text-lo_light_blue !important;

}
.markdown.orangeh1 strong {

    @apply text-4xl md:text-7xl font-lato font-bold capitalize text-lo_orange md:leading-tight !important;

}
.markdown.orangeh3 strong {

    @apply text-4xl md:text-6xl font-lato font-bold capitalize text-lo_orange md:leading-tight !important;

}
.markdown.orangeh3large strong {

    @apply text-4xl md:text-7xl font-lato font-bold capitalize text-lo_orange md:leading-tight !important;

}
.markdown.h1 p {

    @apply font-lato text-4xl leading-tight md:text-7xl font-bold text-center text-white md:leading-tight !important;

}
.markdown.h3 p {

    @apply font-lato text-4xl md:text-6xl font-bold leading-tight md:leading-tight !important;

}
.markdown.whiteh3 p {

    @apply font-lato text-4xl md:text-6xl font-bold text-white leading-tight md:leading-tight !important;

}
.markdown.whiteh3large p {

    @apply font-lato text-4xl md:text-7xl font-bold text-white leading-tight md:leading-tight !important;

}
