---
// IMPORTS MARKED
import { marked } from "marked"

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO ATOMS
import PrimaryButton from "@/atoms/buttons/primary/index.astro"
import Link from "@/atoms/links/index.astro"

const { data } = Astro.props
const html = marked.parse(data.title)
---
<Container>
    <section class="h-full w-full flex flex-col gap-10 items-center justify-center py-10 md:py-10 md:pb-20 2xl:px-52 md:mt-28">
        <div class="md:px-16">
            <section set:html={ html } class="markdown h1 orangeh1 leading-tight" />
        </div>
        <p class="font-lato text-white text-lg md:text-3xl font-light text-center !leading-normal">{ data.description }</p>
        <div class="pt-6">
            <Link href={ data.button_link } aria_label="">
                <PrimaryButton>{ data.button_title }</PrimaryButton>
            </Link>
        </div>
    </section>
</Container>
