---
// IMPORTS ASTRO LAYOUTS
import Layout from "../layouts/layout/index.astro"

// IMPORTS ASTRO COMPONENTS
import Footer from "../components/common/footer/index.astro"
import NotFoundView from "../components/common/404/not-found/index.astro"

// IMPORTS JSX COMPONENTS
import Header from "../components/common/header"
---
<Layout
	title="4O4 PAGE NOT FOUND"
	description=""
	image=""
>
    <section class="h-screen max-h-screen">
        <Header
            client:load
            bg={ true }
            fixed_top={ true }
        />
        <NotFoundView />
    </section>
	<Footer />
</Layout>
