---
import { homeAPI } from "../api/home/index"

const runtime = Astro.locals.runtime;
const data = await homeAPI( runtime.env.ENVIRONMENT )

const { home_data, case_studies, meta_tags } = data

// IMPORTS JSX COMPONENTS
import Header from "../components/common/header/Header"

// IMPORT ASTRO COMPONENTS
import Layout from "../layouts/Layout.astro"
import HeaderBanner from "../components/common/HeaderBanner.astro"
import Hero from "../components/home/Hero.astro"
import Awards from "../components/home/awards/Awards.astro"
import DMAgencyPerth from "../components/home/DMAgencyPerth.astro"
---
<Layout>
	<section class="md:h-screen md:max-h-screen bg-gradient-to-b from-[#303236] to-[#130904]">
		<HeaderBanner />
		<Header client:load />
		<Hero data={ home_data.hero } />
	</section>
	<Awards data={ home_data.awards } />
	<DMAgencyPerth data={ home_data.dm_agency_perth } />
</Layout>
