---
// import { endpointFetch } from "../functions/endpoint"

// const runtime = Astro.locals.runtime;
// const endpoint = endpointFetch( runtime.env.ENVIRONMENT )

// // NETWORK CALL TO GET DATA
// const network_data = await fetch( endpoint + "/home" )
// const data_json = await network_data.json()

// IMPORT ASTRO COMPONENTS
import Layout from "../layouts/Layout.astro"
import HeaderBanner from "../components/common/HeaderBanner.astro"
import Hero from "../components/home/Hero.astro"
import Awards from "../components/home/awards/Awards.astro"

// IMPORTS JSX COMPONENTS
import Header from "../components/common/header/Header"
---
<Layout>
	<section class="md:h-screen md:max-h-screen bg-gradient-to-b from-[#303236] to-[#130904]">
		<HeaderBanner />
		<Header client:load />
		<Hero />
	</section>
	<Awards />
</Layout>
