---
// IMPORTS ASTRO ATOMS
import Link from "@/atoms/links/index.astro"

const { href, aria_label } = Astro.props
---
<li class="text-white text-lg font-lato hover:text-lo_orange transition-all duration-300 group">
    <Link href={ href } aria_label={ aria_label }>
        <div class="flex gap-1 items-center">
            <slot/>
            <div class="group-hover:hidden">
                <img
                    src="/icons/greater-than.svg"
                    alt=""
                    class="size-5"
                />
            </div>
            <div class="hidden group-hover:block">
                <img
                    src="/icons/greater-than-orange.svg"
                    alt=""
                    class="size-5"
                />
            </div>
        </div>
    </Link>
</li>
