---
// IMPORTS ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwoWhiteCenter from "../../atoms/heading/two/white/Center.astro"
import Button from "../../atoms/Button.astro"

const { data } = Astro.props
---
<section class="py-20 bg-gradient-to-b from-[#303236] to-[#130904]">
    <Container>
        <section class="flex flex-col items-center gap-10">
            <HeadingTwoWhiteCenter>{ data.title }</HeadingTwoWhiteCenter>
            <h3 class="text-4xl md:text-7xl font-lato font-bold capitalize text-white text-center leading-tight">{ data.sub_title }<span class="text-orange font-black"></span></h3>
            <Button href={ data.button_link }>{ data.button_title }</Button>
        </section>
    </Container>
</section>
