---
// IMPORTS ASTRO ATOMS
import Button from "../../atoms/Button.astro"
import HeadingTwoOrangeUppercase from "../../atoms/heading/two/orange/Uppercase.astro"

// IMPORTS ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

// IMPORTS ASTRO COMPONENTS
import TitleDescription from "./TitleDescription.astro"

const {

    data,
    dm_services,
    dm_strategy,
    dm_planning,
    dm_management,
    dm_audits

} = Astro.props
---
<section class="py-16 md:py-28 bg-gradient-to-b from-[#303236] to-[#130904]">
    <Container>
        <section class="space-y-10">
            <HeadingTwoOrangeUppercase>{ data.title }</HeadingTwoOrangeUppercase>
            <h3 class="text-4xl md:text-6xl font-lato font-bold text-white">{ data.sub_title } <span class="text-lo_orange">It’s Easy.</span></h3>
            <section class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-8 md:gap-y-16">
                <TitleDescription
                    title={ dm_services.title }
                    description={ dm_services.description }
                    order={ 1 }
                />
                <TitleDescription
                    title={ dm_strategy.title }
                    description={ dm_strategy.description }
                    order={ 2 }
                />
                <TitleDescription
                    title={ dm_planning.title }
                    description={ dm_planning.description }
                    order={ 3 }
                />
                <TitleDescription
                    title={ dm_management.title }
                    description={ dm_management.description }
                    order={ 4 }
                />
                <TitleDescription
                    title={ dm_audits.title }
                    description={ dm_audits.description }
                    order={ 5 }
                />
                <Button href={ data.button_link }>{ data.button_title }</Button>
            </section>
        </section>
    </Container>
</section>
