<section class="h-screen w-full flex flex-col gap-8 items-center justify-center px-36">
    <h1 class="font-lato text-7xl font-bold text-center text-white">The Perth Digital Marketing Agency That Will Unleash Your God Of Growth</h1>
    <p class="font-lato text-white text-2xl font-light text-center">We grow brands so fast that it freaks our grandmas out. With more than 14 years of digital marketing experience, all forged at the sweaty coal face of the internet, it's time for you to ask: how fast do you want to go?</p>
</section>