---
// IMPORTS MARKED
import { marked } from "marked"

// IMPORTS ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwoOrangeUppercase from "../../atoms/heading/two/orange/Uppercase.astro"

// IMPORTS JSX COMPONENTS
import Advantage from "./Advantage"

const {

    data,
    skyrocketing_revenue,
    massively_reduced_costs,
    blazingly_fast_speed

} = Astro.props

const html = marked.parse(data.description)
---
<Container>
    <section class="py-32 space-y-10">
        <HeadingTwoOrangeUppercase>{ data.title }</HeadingTwoOrangeUppercase>
        <h3 class="text-6xl font-lato font-bold leading-tight">{ data.sub_title }</h3>
        <section set:html={ html } class="markdown" />
        <section class="grid grid-cols-3 gap-8">
            <Advantage
                title={ skyrocketing_revenue.title }
                description={ skyrocketing_revenue.description }
            />
            <Advantage
                title={ massively_reduced_costs.title }
                description={ massively_reduced_costs.description }
            />
            <Advantage
                title={ blazingly_fast_speed.title }
                description={ blazingly_fast_speed.description }
            />
        </section>
    </section>
</Container>
