---
// IMPORTS MARKED
import { marked } from "marked"

// IMPORTS ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwoOrangeUppercase from "../../atoms/heading/two/orange/Uppercase.astro"
import Button from "../../atoms/Button.astro"

// IMPORTS JSX COMPONENTS
import Advantage from "./Advantage"

const {

    data,
    unchain_yourself,
    bake_yourself_profit,
    rediscover_the_sweet_feeling

} = Astro.props

const html = marked.parse( data.description )
---
<Container>
    <section class="py-16 md:py-28 space-y-8 md:space-y-10">
        <HeadingTwoOrangeUppercase>{ data.title }</HeadingTwoOrangeUppercase>
        <h3 class="text-4xl md:text-6xl font-lato font-bold leading-tight">{ data.sub_title }</h3>
        <section class="grid md:grid-cols-3 gap-8 md:pt-10">
            <Advantage
                title={ unchain_yourself.title }
                description={ unchain_yourself.description }
            />
            <Advantage
                title={ bake_yourself_profit.title }
                description={ bake_yourself_profit.description }
            />
            <Advantage
                title={ rediscover_the_sweet_feeling.title }
                description={ rediscover_the_sweet_feeling.description }
            />
        </section>
        <section set:html={ html } class="markdown text-2xl" />
        <Button href={ data.button_title }>{ data.button_title }</Button>
    </section>
</Container>
