---
// IMPORTS ASTRO COMPONENTS
import FooterTitle from "../title/index.astro"
import SocialIcons from "../social-icons/index.astro"
---
<section class="space-y-10">
    <FooterTitle>Living Online</FooterTitle>
    <span class="text-3xl text-white font-extrabold font-lato">Call us on </span> <span class="text-3xl text-lo_orange font-extrabold font-lato"><a href="tel:+61 8 9388 8778">+61 8 9388 8778</a></span>
    <br/>
    <span class="text-3xl text-white font-extrabold font-lato">Or book a </span> <span class="text-3xl text-lo_orange font-extrabold font-lato"><a href="/contact-us">Consultation</a></span>
    <br/>
    <div class="space-y-1">
        <p class="text-white text-lg font-lato">Level 1, 330 Churchill Avenue</p>
        <p class="text-white text-lg font-lato">Subiaco WA 6008</p>
        <p class="text-white text-lg font-lato">Perth, Australia</p>
    </div>
    <SocialIcons />
</section>
