---
// IMPORTS ASTRO COMPONENTS
import AwardImage from "./award-image/index.astro"

const { data } = Astro.props

const images = data.images.sort(( a,b ) => a.order - b.order )
---
<section class="grid grid-cols-2 gap-8 md:flex md:gap-4 md:items-center md:justify-between bg-lo_zinc p-10">
    {

        images.map( ( value ) => {

            return(
                <div class="flex justify-center md:justify-start">
                    <AwardImage
                        src={ value.file }
                        alt=""
                    />
                </div>
            )

        })

    }
</section>
