---
// IMPORTS MARKED
import { marked } from "marked"

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwoOrangeUppercase from "@/atoms/heading/two/orange/uppercase/index.astro"

// IMPORTS JSX COMPONENTS
import Advantage from "../advantage"

const {

    data,
    skyrocketing_revenue,
    massively_reduced_costs,
    blazingly_fast_speed

} = Astro.props

const html = marked.parse( data.description )
const sub_title = marked.parse( data.sub_title )
---
<Container>
    <section class="py-16 md:py-28 space-y-4 md:space-y-10">
        <HeadingTwoOrangeUppercase>{ data.title }</HeadingTwoOrangeUppercase>
        <section set:html={ sub_title } class="markdown h3 orangeh3" />
        <section set:html={ html } class="markdown textlg" />
        <section class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <Advantage
                title={ skyrocketing_revenue.title }
                description={ skyrocketing_revenue.description }
            />
            <Advantage
                title={ massively_reduced_costs.title }
                description={ massively_reduced_costs.description }
            />
            <Advantage
                title={ blazingly_fast_speed.title }
                description={ blazingly_fast_speed.description }
            />
        </section>
    </section>
</Container>
