---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import TitleDescription from "@/components/home/title-description/index.astro"

// IMPORTS ASTRO ATOMS
import HeadingTwoOrangeUppercase from "@/atoms/heading/two/orange/uppercase/index.astro"
import Link from "@/atoms/links/index.astro"
import PrimaryButton from "@/atoms/buttons/primary/index.astro"

// IMPORTS MARKED
import { marked } from "marked"

// GET ASTRO PROPS
const {

    data,
    dm_audits,
    dm_management,
    dm_planning,
    dm_services,
    dm_strategy

} = Astro.props

const html = marked.parse(data.sub_title)
---
<section class="py-16 md:py-28 bg-gradient-to-b from-[#303236] to-[#130904]">
    <Container>
        <section class="space-y-2">
            <HeadingTwoOrangeUppercase>{ data.title }</HeadingTwoOrangeUppercase>
            <section set:html={ html } class="markdown whiteh3 orangeh3" />
            <section class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-8 md:gap-y-16 pt-10">
                <TitleDescription
                    description={ dm_services.description }
                    order={ 1 }
                    title={ dm_services.title }
                />
                <TitleDescription
                    description={ dm_strategy.description }
                    order={ 2 }
                    title={ dm_strategy.title }
                />
                <TitleDescription
                    description={ dm_planning.description }
                    order={ 3 }
                    title={ dm_planning.title }
                />
                <TitleDescription
                    description={ dm_management.description }
                    order={ 4 }
                    title={ dm_management.title }
                />
                <TitleDescription
                    description={ dm_audits.description }
                    order={ 5 }
                    title={ dm_audits.title }
                />
                <Link href={ data.button_link } aria_label={ data.button_title }>
                    <PrimaryButton>{ data.button_title }</PrimaryButton>
                </Link>
            </section>
        </section>
    </Container>
</section>
