---

// IMPORTS ASTRO COMPONENTS
import FooterTitle from "@/components/common/footer/title/index.astro"
import ListItem from "@/atoms/footer/list-item/index.astro"

---
<section class="space-y-10">
    <FooterTitle>Agency</FooterTitle>
    <ul class="space-y-6">
        <ListItem href="/about-us" aria_label="Explore About Us">About Us</ListItem>
        <ListItem href="/careers" aria_label="Explore Careers">Careers</ListItem>
        <ListItem href="/digital-marketing-agency/newsletter" aria_label="Explore Newsletter">Newsletter</ListItem>
        <ListItem href="/contact-us" aria_label="Explore Contact Us">Contact Us</ListItem>
    </ul>
</section>
