---
// IMPORTS ASTRO COMPONENTS
import FooterTitle from "../title/index.astro"
import Li from "../li/index.astro"
---
<section class="space-y-6">
    <FooterTitle>Agency</FooterTitle>
    <ul class="space-y-6">
        <Li href="/about-us" aria_label="">About Us</Li>
        <Li href="/careers" aria_label="">Careers</Li>
        <Li href="/digital-marketing-agency/newsletter" aria_label="">Newsletter</Li>
        <Li href="/contact-us" aria_label="">Contact Us</Li>
    </ul>
</section>
