---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS JSX COMPONENTS
import CaseStudyCarousel from "@/components/home/case-studies/carousel/index.jsx"

// IMPORTS ASTRO ATOMS
import HeadingTwoOrangeCenter from "@/atoms/heading/two/orange/center/index.astro"
import Link from "@/atoms/links/index.astro"
import PrimaryButton from "@/atoms/buttons/primary/index.astro"

// IMPORTS MARKED
import { marked } from "marked"

// GET ASTRO PROPS
const {

    case_studies,
    CDN,
    data,
    PROJECT

} = Astro.props

const html = marked.parse(data.description)
const sub_title = marked.parse( data.sub_title )
---
<section class="py-28 bg-gradient-to-b from-[#303236] to-[#130904]">
    <Container>
        <section class="flex flex-col md:items-center">
            <HeadingTwoOrangeCenter>{ data.title }</HeadingTwoOrangeCenter>
            <section set:html={ sub_title } class="markdown whiteh3 orangeh3 pb-6" />
            <CaseStudyCarousel
                CDN={ CDN }
                client:load
                data={ case_studies }
                PROJECT={ PROJECT }
            />
            <section class="flex flex-col md:items-center gap-6 pt-10">
                <section set:html={ html } class="markdown text3xl textwhite pt-10" />
                <Link href={ data.button_link } aria_label={ data.button_title }>
                    <PrimaryButton>{ data.button_title }</PrimaryButton>
                </Link>
            </section>
        </section>
    </Container>
</section>
