---
// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/Container.astro"

// IMPORTS ASTRO COMPONENTS
import Marketing from "./marketing/index.astro"
import Agency from "./agency/index.astro"
import Contact from "./contact/index.astro"
import Copyright from "./copyright/index.astro"
---
<footer class="bg-lo_black pt-20 md:pt-24 pb-10 md:pb-24">
    <Container>
        <section class="grid md:grid-cols-5 gap-4">
            <Contact />
            <section class="grid grid-cols-2 gap-4 md:gap-32 pt-14 md:pt-0 md:col-span-2">
                <Marketing />
                <Agency />
            </section>
        </section>
        <Copyright />
    </Container>
</footer>
