---
// IMPORTS ASTRO ATOMS
import HeadingFourWhite from "../../../atoms/heading/four/white/index.astro"

const { title, description, order } = Astro.props
---
<div class="space-y-6">
    <div class="flex gap-2 relative">
        <div class="bg-body size-7 md:mt-1"></div>
        <div class="text-white font-lato absolute left-2 md:left-2.5 md:top-1.5">{ order }</div>
        <HeadingFourWhite>{ title }</HeadingFourWhite>
    </div>
    <p class="text-white font-lato">{ description }</p>
</div>
