---

// IMPORTS ASTRO ATOMS
import PictureContain from "@/atoms/picture/contain/index.astro"

// GET ASTRO PROPS
const {

    alternative_text,
    CDN,
    PROJECT,
    source

} = Astro.props

---
<div class="w-fit h-20">
    <PictureContain
        alternative_text={ alternative_text }
        CDN={ CDN }
        PROJECT={ PROJECT }
        source={ source }
    />
</div>
